<nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item">
                <!-- Optional trigger placed in app shell for convenience on small screens -->
                <div class=" p-2">
                    <button class="btn btn-outline-primary" type="button" (click)="openSidebar()">
                        ☰ Menu
                    </button>
                </div>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <div class=" p-2">
                    <button class="btn btn-outline-primary" type="button" (click)="signout()">
                        Sign out
                    </button>
                </div>
            </li>
        </ul>
    </div>
</nav>